# /
/.classpath
/.project
/.settings
/target
/.idea/
/xacml.iml

# /xacml-core/
/xacml-core/.classpath
/xacml-core/.project
/xacml-core/.settings
/xacml-core/target
/xacml-core/xacml-core.iml

# /xacml-test/
/xacml-test/.project
/xacml-test/.classpath
/xacml-test/.settings
/xacml-test/target
/xacml-test/xacml-test.iml

# /xacml-pdp/
/xacml-pdp/.classpath
/xacml-pdp/.project
/xacml-pdp/target
/xacml-pdp/.settings
/xacml-pdp/xacml-pdp.iml

# /xacml-json/
/xacml-json/.classpath
/xacml-json/.project
/xacml-json/target
/xacml-json/.settings
/xacml-json/xacml-json.iml

# /xacml-xml/
/xacml-xml/.classpath
/xacml-xml/.project
/xacml-xml/target
/xacml-xml/.settings
/xacml-xml/xacml-json.iml

# /xacml-xml-jaxb/
/xacml-xml-jaxb/.classpath
/xacml-xml-jaxb/.project
/xacml-xml-jaxb/target
/xacml-xml-jaxb/.settings
/xacml-xml-jaxb/xacml-json.iml

# /xacml-conformance-tests/
/xacml-conformance-tests/.classpath
/xacml-conformance-tests/.project
/xacml-conformance-tests/target
/xacml-conformance-tests/.settings
/xacml-conformance-tests/xacml-conformance-tests.iml

.java-version
/target/
