<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">
	
	<bean id="xacml20Endpoint" class="com.artagon.xacml.v20.endpoints.Xacml20Endpoint">
		<constructor-arg>
			<bean class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
				<property name="classesToBeBound">
					<list>
						<value>org.oasis.xacml.v20.context.RequestType</value>
						<value>org.oasis.xacml.v20.context.ResponseType</value>
					</list>
				</property>
			</bean>
		</constructor-arg>
		<constructor-arg ref="xacmlPDP" />
	</bean>
	
	<bean id="endpointMapping" class="org.springframework.ws.server.endpoint.mapping.UriEndpointMapping">
	<property name="interceptors">
			<list>
				<ref bean="loggingInterceptor" />
			</list>
	</property>
	<property name="mappings">
	<props>
      	<prop key="http://localhost:8080/xacml-ws/soap/">xacml20Endpoint</prop>
      	<prop key="http://localhost:8080/xacml-ws/pox/">xacml20Endpoint</prop>
    </props>
    </property>
    </bean>

	<!-- 
	<bean id="endpointMapping"
		class="org.springframework.ws.server.endpoint.mapping.PayloadRootQNameEndpointMapping">
		<property name="interceptors">
			<list>
				<ref bean="loggingInterceptor" />
			</list>
		</property>
		<property name="mappings">
			<props>
				<prop key="{urn:oasis:names:tc:xacml:2.0:context:schema:os}Request">xacml20Endpoint</prop>
			</props>
		</property>
	</bean>
	
	 -->

	<bean id="loggingInterceptor"
		class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor" />
		
	<bean id="xacml20"
		class="org.springframework.ws.wsdl.wsdl11.SimpleWsdl11Definition">
		<property name="wsdl" value="/WEB-INF/wsdl/xacml20.wsdl" />
	</bean>	

</beans>
