<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<bean id="xacmlDomEndpoint" class="com.comcast.cima.login.crackr.ws.XacmlDomPayloadEndpoint">
		<constructor-arg ref="tveExternalPDP" />
		<constructor-arg>
			<util:map>
				<entry key="xacml20-context" value="urn:oasis:names:tc:xacml:2.0:context:schema:os"/>
				<entry key="xacml20" value="urn:oasis:names:tc:xacml:2.0:policy:schema:os"/>
			</util:map>
		</constructor-arg>
	</bean>
	
	<bean id="endpointMapping"
		class="org.springframework.ws.server.endpoint.mapping.PayloadRootQNameEndpointMapping">
		<property name="interceptors">
			<list>
				<ref bean="loggingInterceptor" />
			</list>
		</property>

		<property name="mappings">
			<props>
				<prop key="{urn:oasis:names:tc:xacml:2.0:context:schema:os}Request">xacmlDomEndpoint</prop>
				<prop key="{urn:oasis:names:tc:xacml:3.0:context:schema:os}Request">xacmlDomEndpoint</prop>
			</props>
		</property>
	</bean>
	
	<bean id="loggingInterceptor"
		class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor" />
		
</beans>
