<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xacml-spring="http://www.artagon.com/schema/xacml/spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
						http://www.artagon.com/schema/xacml/spring http://www.artagon.com/schema/xacml/spring/xacml.xsd">
 	
		 
	<xacml-spring:FunctionProviders id="extensionFunctions">
		<xacml-spring:FunctionProvider class="com.artagon.xacml.spring.TestStaticFunctions"/>
	</xacml-spring:FunctionProviders>
	
	<bean id="resources" class="com.artagon.xacml.spring.ResourceCollection">
		<beans:property name="resources">
			<util:list>
				<value>classpath:/Policy1.xml</value>
			</util:list>
		</beans:property>
	</bean>
	
	<beans:bean id="repository" class="com.artagon.xacml.spring.repository.InMemoryPolicyRepositoryFactoryBean">
		<beans:property name="extensionFunctions" ref="extensionFunctions"/>
		<beans:property name="policies" ref="resources"/>
	</beans:bean>
	
	<beans:bean id="testResolver" class="com.artagon.xacml.spring.pip.TestResolver"/>
	 
	<xacml-spring:ResolverRegistry id="resolvers">
		<xacml-spring:Resolver ref="testResolver"/>
		<xacml-spring:Resolver ref="testResolver" policyId="testId"/>
	</xacml-spring:ResolverRegistry>
	 
	<xacml-spring:PolicyInformationPoint id="pip" resolvers="resolvers"/>
	
	<bean id="multipleResourcesHandler" class="com.artagon.xacml.v30.pdp.profiles.MultipleResourcesHandler"/>
	
	<xacml-spring:RequestContextHandlerChain id="handlers">
		<xacml-spring:RequestContextHandler ref="multipleResourcesHandler"/>
	</xacml-spring:RequestContextHandlerChain>	
	
	<bean id="testAuditor" class="com.artagon.xacml.spring.MockAuditor">
	</bean>

	<xacml-spring:PolicyDecisionPoint id="pdp" repository="repository" pip="pip" handlers="handlers" auditor="testAuditor">
		<xacml-spring:PolicySetIdReference>testId</xacml-spring:PolicySetIdReference>
	</xacml-spring:PolicyDecisionPoint>
	
	
</beans>
